.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 198px; 
    height: 198px;
    border: 1px solid #f4f4f552;
    background-color: #202024;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.3s;
    user-select: none;
}

.container:hover {
    background-color: #3F3F46;
}

.value {
    color: #8257E5;
    font-size: 9rem;
    font-weight: 700;
    line-height: .8;
    cursor: pointer;
    user-select: none;
}

@media only screen and (max-width: 600px) {

    .container {
        width: 98px; 
        height: 98px;
    }

    .value {
        font-size: 7rem;
        font-weight: 700;
    }
  }
